.gnjp_cityList-picker{
			background: #fff;
			width: 350px;
			overflow: hidden;
			position: absolute;
			z-index: 1000;
			margin-left: -255px;
			display: none;
			/*margin:30px auto;*/
		}
		.gnjp_cityList_title{
			height: 23px;
			line-height: 23px;
			font-size: 12px;
			color: #999;
			margin:10px 10px 0;
		}
		.gnjp_cityList_head{
			font-size: 0;
			text-align: center;
			margin:3px 10px;
		}
		.gnjp_cityList_head .cur{
			background: #c81623;
			color: #fff;
		}
		.gnjp_cityList_head li{
			width: 54px;
			height: 20px;
			line-height: 20px;
			color: #666;
			font-size: 12px;
			background: #e6e6e6;
			display: inline-block;
			margin-right: 1px;
			cursor: pointer;
		}
		/*.gnjp_cityList_head li+li{
			margin-left: 1px;
		}*/
		.gnjp_cityList_content{
			color: #666;
			margin-left: 10px;
			margin-bottom: 10px;
		}
		.gnjp_cityList_content .tab_list{
			display: none;
		}
		.gnjp_cityList_content .tab_list:first-child{
			display: block;
		}
		.gnjp_cityList_content .item{
			padding:5px 0;
			overflow: hidden;
		}
		.gnjp_cityList_content .item+.item{
			border-top:1px dotted #e6e6e6;
		}
		.gnjp_cityList_content .item .fl{
			float: left;
			width: 9px;
			text-align: center;
			height: 25px;
			line-height: 25px;
			color: #c81623;
			margin-left: 3px;
			font-size: 12px;
		}
		.gnjp_cityList_content .item .fn{
			font-size: 0;
			overflow: hidden;
		}
		.gnjp_cityList_content .item .fn a{
			float: left;
			height: 23px;
			line-height: 23px;
			margin-bottom: 2px;
			color: #666;
			font-size: 12px;
			width: 64px;
			text-indent: 7px;
		}